@page "/todo"
@rendermode InteractiveServer
@using TODOlist.Classes;

<PageTitle>TODO:</PageTitle>

<h3>TODO</h3>
<div class="statistis">
	<div>Всего: @todos.Count</div>
	<div>Выполнено: @todos.Where(task => task.DONE == true).Count()</div>
	<div>Запланированно: @todos.Where(task => task.DONE == false).Count()</div>
</div>

<input type="text" placeholder="Что вы хотите сделать ?" 
@bind="task" 
@onkeyup='(KeyboardEventArgs e) => 
{
{if(e.Key == "Enter")AddTask();};
}' />
<button @onclick="AddTask">Добавить</button>

<ul>
	@foreach (TODOitem i in todos)
	{
		<li class=@(!i.DONE ? "" : "complete-task")>
			<input type="checkbox" @bind="i.DONE" id=@i.GetHashCode().ToString()/>
			<label for=@i.GetHashCode().ToString()>@i.Title</label>
		</li>
	}
</ul>
