@page "/power"
@rendermode InteractiveServer

@using System.Numerics;

<h3>Power</h3>

<PageTitle>Power</PageTitle>

<div class="power">
	<input type="number" min="1" @bind="number" @bind:after="Calculate" />
	<input type="number" min="0" @bind="exponent" @bind:after="Calculate" />
	<div id="power">@result</div>
</div>



